<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.14.0/ace.js"
        integrity="sha512-WYlXqL7GPpZL2ImDErTX0RMKy5hR17vGW5yY04p9Z+YhYFJcUUFRT31N29euNB4sLNNf/s0XQXZfzg3uKSoOdA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<title>Collab</title>
<style type="text/css" media="screen">
    #editor {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: inherit;
    }
</style>
</head>

<link rel="stylesheet" href="css/style.css" />

<body>

    <div class="container">
        <div id="editor"> </div>
        <!-- <textarea name="text" id="message" onkeyup="sendData(event)" class="text" style="resize: none;"></textarea> -->
    </div>

    <script src="js/script.js"></script>
    <script src="js/playground.js"></script>
</body>

</html>